.main {
    display: grid;
    grid-template-columns: 11fr 6fr;
    gap: 20px;
    margin-top: 10px;
    
}
.left {
    display: flex;
flex-direction: column;
gap: 10px;
}
.right {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}